html, body{
	height: 100% ;
	width : 100% ;
	
}
body{
	background: url(animation.jpg);
}

.navbar{
	background-color : #26201d;
	padding: 5px 0;
	
	font-size: 1.2em; 
	background-color: rgba(38,32,29);

}


.navbar-brand{
	min-height : 40px;
	min-width: 100px;
	padding: 0 0px 0px;
	

}
.navbar-default .navbar-nav li a#rolls{
	color : #FFFACD;
}
.navbar-default .navbar-nav li a {
	color : #D5D5D5;
}
.navbar-default .navbar-nav li a:hover, .navbar-default .navbar-nav li a.active {
	color : #fff;
} 

.mySlides{
	margin-top : 2px;
}

.mySlidesnew{
	margin-top : 50px;
}
